<p>
  <b>Title:</b>
  <%=h @sermon.title %>
</p>

<p>
  <b>Date:</b>
  <%=h @sermon.date %>
</p>

<p>
  <b>Description:</b>
  <%=h @sermon.description %>
</p>
<p>
	<audio src="<%=@sermon.audio %>" controls="controls"> Your browser does not support </audio>
</p>


<%= link_to 'Edit', edit_sermon_path(@sermon) %> |
<%= link_to 'Back', sermons_path %>