<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	  <title>Podcasts | Trinity UMC, PBG, FL</title>
	  <%= stylesheet_link_tag 'scaffold' %>
		<%= formtastic_stylesheet_link_tag %>
	</head>
	<body>

		<p style="color: green"><%= notice %></p>

		<%= yield %>
		
		<% if current_user == nil %>
			<p style='margin: 0; float: left;'><%= link_to 'sign in', sign_in_url%></p>
		<% end %>
	</body>
</html>
